version: "3.7"
x-restart-policy: 
  restart: &default-restart-policy unless-stopped
  
services:
  traefik:
    image: traefik:v2.8.3
    restart: *default-restart-policy
    command:
      - --api.insecure=true
      - --api.dashboard=true
      - --log.level=DEBUG
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --accesslog=true
      - --accesslog.format=json
      - --accesslog.filepath=/var/log/traefik/access.log.json
    labels:
      - traefik.enable=true
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  frontend:
    image: timbmg/acl-search-frontend:latest
    build: 
      context: ./ui
    restart: *default-restart-policy
    expose:
      - 80
      - 443
    labels:
      - traefik.enable=true
      - traefik.http.routers.frontend.priority=1
      - traefik.http.routers.frontend.rule=Host(`185.198.27.95`)
  
  index:
    image: timbmg/acl-search-index:latest
    build: 
      context: ./index
    command: uvicorn index.main:app --host 0.0.0.0 --port 8000
    restart: *default-restart-policy
    ports:
      - 8000:8000
    environment:
      ELASTICSEARCH_HOST: elasticsearch
      ELASTICSEARCH_PORT: 9200
    env_file:
      - .env
    labels:
      - traefik.enable=true
      - traefik.http.routers.index.rule=PathPrefix(`/api/index`)
      - traefik.http.routers.index.middlewares=index-stripprefix,index-addprefix
      - traefik.http.middlewares.index-stripprefix.stripprefix.prefixes=/api/index 
      - traefik.http.middlewares.index-addprefix.addPrefix.prefix=/api
  
  search:
    image: timbmg/acl-search-search:latest
    build: 
      context: ./search
    command: uvicorn search.main:app --host 0.0.0.0 --port 8001
    restart: *default-restart-policy
    ports:
      - 8001:8001
    environment:
      ELASTICSEARCH_HOST: elasticsearch
      ELASTICSEARCH_PORT: 9200
    env_file:
      - .env
    labels:
      - traefik.enable=true
      - traefik.http.routers.index.rule=PathPrefix(`/api/search`)
      - traefik.http.routers.index.middlewares=index-stripprefix,index-addprefix
      - traefik.http.middlewares.index-stripprefix.stripprefix.prefixes=/api/search 
      - traefik.http.middlewares.index-addprefix.addPrefix.prefix=/api

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.3.3
    restart: *default-restart-policy
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ingest.geoip.downloader.enabled=false
      # allow running with low disk space
      - cluster.routing.allocation.disk.threshold_enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:9200/_cat/health | grep -q green" ]
      interval: 30s
      timeout: 30s
      retries: 3

volumes:
  elasticsearch_data:
    driver: local
